@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");
.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  height: 100px;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__header_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  width: 100%;
  margin-bottom: 20px;
}

.header__event_buttons {
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__event_buttons button {
  padding: 7px 12px;
  background-color: #006fca;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-shadow: 0px 1px 3px #363636;
}

.header__event_buttons button:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header__search_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__search_icon {
  display: block;
  margin: auto 0;
  margin-right: 5px;
  height: 20px;
}

.header__search_area {
  width: 200px;
  height: 28px;
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  padding: 4px 0;
  padding-left: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  -webkit-box-shadow: inset 0 0 2px #363636;
          box-shadow: inset 0 0 2px #363636;
}

.header__search_area::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.header__search_area:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.header__search_area::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.header__search_area::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.navigation {
  margin-top: 20px;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation button {
  margin: 0;
  padding: 0;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  background-color: #ffffff;
}

.navigation button:hover {
  cursor: pointer;
}

.navigation__month_navigation {
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__change_month_button {
  width: 20px;
  height: 20px;
  color: #474747;
}

.navigation__current_month {
  max-width: 120px;
  font-family: "Roboto", sans-serif;
}

.navigation__current_day_button {
  width: 60px;
  display: inline-block;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #474747;
}

.navigation__current_day_button:hover {
  border: 1px solid #47474780;
  color: #000000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.calendar {
  margin-top: 20px;
}

.calendar__row {
  height: 120px;
}

.calendar__calendar_table {
  table-layout: fixed;
  width: 100%;
  height: 590px;
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
  color: #505050;
}

.calendar__cell {
  vertical-align: top;
  border: 1px solid #bebebe;
}

.calendar__cell_body {
  position: relative;
  width: 100%;
}

.calendar__cell_header {
  margin: 0 auto;
  padding-top: 5px;
  width: 90%;
  font-size: 14px;
}

.calendar__cell_task_body {
  margin: 0 auto;
  padding-top: 8px;
  width: 90%;
  font-size: 14px;
}

.calendar__cell_active {
  font-weight: 500;
  background-color: #e9e9e9;
}

.calendar__cell_formating {
  border: 3px solid #84caff;
  background-color: #a6d8ff;
}

.calendar__cell:hover {
  cursor: pointer;
  background-color: #f3f3f3;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.calendar__cell_marked {
  background-color: #c1e4ff;
}

.calendar__cell_marked:hover {
  background-color: #99d1f8;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.calendar__task_header {
  font-weight: 600;
  margin-top: 4px;
}

.calendar__task_issue {
  font-weight: 400;
  padding-top: 4px;
}

.task_adjunction_popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.task_adjunction_popup__background {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.task_adjunction_popup__close_button {
  position: absolute;
  top: 15px;
  left: 270px;
  z-index: 2;
  cursor: pointer;
  color: #555555;
}

.task_adjunction_popup__close_button:hover {
  color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.task_adjunction_popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  margin: 10px;
  width: 280px;
  height: 320px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px #000000bf;
          box-shadow: 0px 0px 5px 0px #000000bf;
}

.task_adjunction_popup__form_body {
  margin: 20px;
  margin-top: 30px;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.task_adjunction_popup input {
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  padding: 4px 0;
  padding-left: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  -webkit-box-shadow: inset 0 0 2px #363636;
          box-shadow: inset 0 0 2px #363636;
}

.task_adjunction_popup input::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.task_adjunction_popup input:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.task_adjunction_popup input::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.task_adjunction_popup input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.task_adjunction_popup__task_description {
  height: 120px;
  margin-top: 20px;
  resize: none;
  border: 1px solid #a5a5a5;
  border-radius: 3px;
  padding: 4px 0;
  padding-left: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  -webkit-box-shadow: inset 0 0 2px #363636;
          box-shadow: inset 0 0 2px #363636;
}

.task_adjunction_popup__task_description::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.task_adjunction_popup__task_description:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.task_adjunction_popup__task_description::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.task_adjunction_popup__task_description::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}

.task_adjunction_popup__buttons_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.task_adjunction_popup__buttons_area button {
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #474747;
  color: #000000;
}

.task_adjunction_popup__buttons_area button:hover {
  border: 1px solid #47474780;
  color: #000000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.task_adjunction_popup__buttons_area button:hover {
  background-color: #006fca;
  color: #ffffff;
}
